<a href="https://colab.research.google.com/github/Advitiya0408/data/blob/main/214509__Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q. What exactly is []?
## Answer: It is used to create list which contains many values seprated by commas.Simply a vriable holding different types of data.

In [ ]:
spam = [2,4,6,8,10]
spam.insert(3,'Hello')
spam

[2, 4, 6, 'Hello', 8, 10]

In [ ]:
spam = ['a', 'b', 'c', 'd']
## Here we got d because we are performing index operations which results to 3 which is nothing but d
spam[int(int('3' * 2) / 11)]

'd'

In [ ]:
## we get d as output because spam[3] = 'd'
int(int('3' * 2)/11)

3

In [ ]:
## backward indexing when moving from end to start 
spam[-1]

'd'

In [ ]:
## here it picks value from 0 to 1 excluding 2.As we haven't used start index it bydefaults starts from 0
spam[:2]

['a', 'b']

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True] 
bacon[1]

'cat'

In [ ]:
## append basically adds element at the end of the list
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
## It basically removes the first element from the list which matches the given value.
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
## List concatination means you do add two list in one list and operator used for concatinating is +
a = [1,2,3,4]
b = [5,6,7,8]
z = a+b
print("After concating: ",z)
## List replication means you create duplicates of that list and operator used for it is *
t = z*3
print("After Replicating: ",t)

After concating:  [1, 2, 3, 4, 5, 6, 7, 8]
After Replicating:  [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

## Difference between append and insert is that append adds element at the end of the List whereas, insert you can add element on specific position.

In [ ]:
## The two methods for removing items for the list are pop and remove
g = ['Akash',2,5,'Adarsh']
## pop removes the last element of the list returning the deleted value
print("Deleted Element is: ",g.pop())
## remove function is used to remove element on specific index
g.remove('Akash')
print('Updated List: ',g)

Deleted Element is:  Adarsh
Updated List:  [2, 5]

## The Difference between Lists and Tuples is List are mutable which means we can modify elements in the List, whereas in tuple you cannot modify elements once created.

In [ ]:
## list values and string values are identical as we can perform string operations on list.
stuff = ['this', 'that', 'these', 'those']
'these' in stuff

True

In [ ]:
'buffalo' in stuff

False

In [ ]:
tup = (43,)
tup
type(tup)

tuple

In [ ]:
## we can make tuple to list and list to tuple by typecasting
v = [1,2,"Akash"]
print('Before typecasting: ',type(v))
## Here we need to store the converted object into different variable because v is already list is assigned
j=tuple(v)
print('After typecasting: ',type(j))

Before typecasting:  <class 'list'>
After typecasting <class 'tuple'>

## Q.Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
## Ans. Variables can hold nested list inside a list , single values of different data types.

In [ ]:
## Shallow Copy basically creates a different memory location so even if you change values of list n it wont affect m list.
n = [1,6,89,27]
m = n.copy()
print('The n list: ',n)
print('The m list: ',m)
n[2] = 40
## here due to shallow copy we arent referencing it to same memory location
print('After modification in n list: ',n)
print('The m list remains unchanged: ',m)

The n list:  [1, 6, 89, 27]
The m list:  [1, 6, 89, 27]
After modification in n list:  [1, 6, 40, 27]
The m list remains unchanged:  [1, 6, 89, 27]

In [ ]:
## problem with shallow copy is it behaves differently when it has nested lists
q = [[99,66,44,33],[55,77,88,22,11]]
w = q.copy()
## modifying q list
## here the changed value gets copied in both the list because it is referring to same object inside the nested list
## both variables are referring to the same object that is present inside the list
## if you try to change the values in list then it reflects change in other list
q[1][3] = 220
print('After modification in q list: ',q)
print('Modification of q list in w list: ',w)
## if you try to insert something there would be no affect in q list 
w.append([2,4,6,8])
print('Items in q list remains same: ',q)
print('Appended item change in w list: ',w)

After modification in q list:  [[99, 66, 44, 33], [55, 77, 88, 220, 11]]
Modification of q list in w list:  [[99, 66, 44, 33], [55, 77, 88, 220, 11]]
Items in q list remains same:  [[99, 66, 44, 33], [55, 77, 88, 220, 11]]
Appended item change in w list:  [[99, 66, 44, 33], [55, 77, 88, 220, 11], [2, 4, 6, 8]]

In [ ]:
## To overcome this problem we have deepcopy() function
import copy
lst1=[[4,2,'Akash'],[3,6,'Borgalli']]
lst2=copy.deepcopy(lst1)
lst2[1][1]=250
print('After modification in lst1 remains same: ',lst1)
print('Modification in lst2 only gets changed: ',lst2)

After modification in lst1 remains same:  [[4, 2, 'Akash'], [3, 6, 'Borgalli']]
Modification in lst2 only gets changed:  [[4, 2, 'Akash'], [3, 250, 'Borgalli']]